{% extends 'admin_layout.html.twig' %}
{% block title %}
	{{ parent() }}
	Liste-Commentaires
{% endblock %}
{% block admin_content_title %}Liste des commentaires
{% endblock %}
{% block admin_content %}
	<table class="table table-striped table-hover table-bordered border-secondary bg-light mt-4">
		<thead>
			<tr class="py-4">
				<th class="w-auto th-lg py-3 px-4 bg-secondary">NOTE</th>
				<th class="w-auto th-lg py-3 px-4 bg-secondary">COMMENTAIRE</th>
				<th class="w-auto th-lg py-3 px-4 bg-secondary"></th>
			</tr>
		</thead>
		<tbody class="table-group-divider">
			{% for comment in comments %}
				<tr>
					<td class="px-4">{{ comment.rate }}</td>
					<td class="px-4">{{ comment.comment|slice(0, 20) ~ '...'}}</td>
					<td class="d-flex align-items-center justify-content-btween">
						{% if is_granted("ROLE_ADMIN") or (is_granted("ROLE_CONTRIBUTOR") and app.user == comment.author) %}
							<a role="button" class="btn btn-sm btn-outline-primary text-nowrap m-2 px-3" href="{{ path('app_comment_edit', { 'id': comment.id} ) }}">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewbox="0 0 16 16">
									<path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
								</svg>
								Éditer
							</a>
						{% endif %}
						<a role="button" class="btn btn-sm btn-outline-primary text-nowrap m-2 px-3" href="{{ path('app_comment_show', {'id': comment.id}) }}">
							<svg class="me-2" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewbox="0 0 16 16">
								<path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
							</svg>
							Afficher
						</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="3">aucuns enregistrements trouvés</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}