{% extends 'base.html.twig' %}
{% block title %}
	{{ parent() }}
	| Catégorie #{{ category.id }}
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<h1 class="m-4 p-4">Séries de la catégorie
			<span class="badge rounded-pill bg-dark px-4 py-2 m-3 text-decoration-none">{{ category.name }}</span>
		</h1>
		<hr>
		<div class="card-group">
			{% for program in programs %}
				<div class="col-md-4 d-flex p-2">
					<div class="card">
						<img class="card-img-top object-fit-cover" src="{{ asset('build/images/programs/' ~ program.poster) }}" alt="{{ 'poster ' ~ program.title }}">
						<div class="card-header text-white bg-dark py-4 d-flex align-items-center justify-content-between">
							Série
							<a class="px-3 py-2 text-decoration-none" href="{{ path("category_show", { categoryName: program.category.name }) }}">{{ program.category.name }}</a>
						</div>
						<div class="card-body text-white bg-primary-light">
							<h5 class="card-title text-dark fw-bold fs-3">{{ loop.index ~ ' - ' ~ program.title }}</h5>
							<p class="card-text">{{ program.synopsis }}</p>
							<p class="card-text">
								<small class="text-muted"></small>
							</p>
						</div>
						<div class="card-footer bg-primary">
							<div class="d-flex align-items-center justify-content-end">
								<a class="bottom text-white" href="{{ path("program_show", { id: program.id }) }}">Voir la fiche</a>
							</div>
						</div>
					</div>
				</div>
			{% else %}
				Aucune série trouvée.
			{% endfor %}
		</div>
		<div class="row ">
			<div class="col p-2 m-2 d-flex align-items-center justify-content-end px-4">
				<a class="text-dark fw-bold fs-5" href="{{ path('program_index') }}">
					Retour
				</a>
			</div>
		</div>
	</div>
{% endblock %}