{% extends 'base.html.twig' %}
{% block title %}
	{{ parent() }}
	| Catégorie #{{ category.id }}
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<h1>Les séries de la catégorie
			{{ category.getName() }}</h1>
		<div class="row">
			{% for program in programs %}
				<div class="col-4 d-flex mb-4">
					<div class="card gap-2">
						<div class="card-header">
							<img class="card-img-top" src="{{ program.getPoster() }}" alt="{{ program.getTitle() }} poster">
						</div>
						<div class="card-body">
							<h5 class="card-title">{{ loop.index ~ ' - ' ~ program.getTitle() }}</h5>
							<span class="badge rounded-pill bg-primary px-2">{{ program.getCategory.getName() }}</span>
							<p class="card-text">{{ program.getSynopsis() }}</p>

						</div>
						<div class="card-footer">
							<a class="bottom" href="{{ path("program_show", { id: program.getId() }) }}">Voir la fiche</a>
						</div>
					</div>
				</div>
			{% else %}
				Aucune série trouvée.
			{% endfor %}
		</div>
		<div class="row justify-content-end fixed-bottom">
			<div class="col-1 p-2 m-2">
				<a href="{{ path('app_index') }}">
					Retour à l'accueil
				</a>
			</div>
		</div>
	</div>
{% endblock %}