{% extends 'base.html.twig' %}

{% block title %}Épisodes-index
{% endblock %}

{% block body %}
	<div class="container p-md-4">
		<h1 class="mb-3 p-2">Liste Des Épisodes</h1>
		<hr>
		<div class="d-flex flex-column justify-content-center">
			<div class="row mb-3">
				<table class="table table-sm table-striped table-hover">
					<thead>
						<tr>
							<th scope="col" class="w-10">ID</th>
							<th scope="col" class="w-20">TITRE</th>
							<th scope="col" class="w-10">NUMBER</th>
							<th scope="col" class="w-30">SYNOPSYS</th>
							<th scope="col"></th>
						</tr>
					</thead>
					<tbody>
						{% for episode in episodes %}
							<tr>
								<td scope="row">{{ episode.id }}</td>
								<td>{{ episode.title }}</td>
								<td>{{ episode.number }}</td>
								<td>{{ episode.synopsis|slice(0, 80) ~ '...' }}</td>
								<td>
									<div class="d-inline-flex">
										<a role="button" class="btn btn-sm text-nowrap btn-dark m-2 px-2" href="{{ path('app_episode_show', {'slug': episode.slug}) }}">Show</a>
										<a role="button" class="btn btn-sm text-nowrap btn-primary m-2 px-2" href="{{ path('app_episode_edit', {'id': episode.id}) }}">Edit</a>
										{{ include('episode/_delete_form.html.twig', {'episode': episode}) }}
									</div>
								</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="5">no records found</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
		<div class="row mb-3">
			<div class="col">
				<a role="button" class="btn btn-sm text-nowrap btn-primary m-2 px-2" href="{{ path('app_episode_new') }}">Ajouter Épisode</a>
			</div>
		</div>
	</div>
{% endblock %}