{% extends 'visitor_layout.html.twig' %}

{% block title %}
	{{ parent() }}
	| Reset-Password
{% endblock %}

{% block body %}
	<main class="container">
		<div class="row m-4 p-4">
			<div class="col-10 m-auto">
				<div class="border-secondary border border-secondary border-2 rounded-4 p-3 m-3">

					{% for flash_error in app.flashes('security_reset_password_error') %}
						<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
					{% endfor %}
					<h1>Réinitialisez votre mot de passe</h1>

					{{ form_start(requestForm) }}
					{{ form_row(requestForm.email) }}
					<div class="mb-4">
						<small>
							Entrez votre adresse e-mail et nous vous enverrons un
																																																																									                lien pour réinitialiser votre mot de passe.
						</small>
					</div>

					<button class="btn btn-primary">Envoyer un e-mail de réinitialisation du mot de passe</button>
					{{ form_end(requestForm) }}
				</div>
			</div>
		</div>
	</main>
{% endblock %}