{% extends 'base.html.twig' %}

{% block title %}Saisons-index
{% endblock %}

{% block body %}
	<div class="container p-md-4">
		<h1 class="mb-3 p-2">Liste Des Saisons</h1>
		<hr>
		<div class="d-flex flex-column justify-content-center">
			<div class="row mb-3">
				<table class="table table-sm table-striped table-hover">
					<thead>
						<tr>
							<th scope="col" class="w-5">Id</th>
							<th scope="col" class="w-15">Number</th>
							<th scope="col" class="w-5">Year</th>
							<th scope="col" class="w-50">Description</th>
							<th scope="col" class="w-25">actions</th>
						</tr>
					</thead>
					<tbody>
						{% for season in seasons %}
							<tr>
								<td scope="row">{{ season.id }}</td>
								<td>{{ season.number }}</td>
								<td>{{ season.year }}</td>
								<td>{{ season.description|slice(0, 150) ~ '...' }}</td>
								<td class="d-inline-flex">
									<a role="button" class="btn btn-sm btn-dark m-2 px-2" href="{{ path('app_season_show', {'id': season.id}) }}">Show</a>
									<a role="button" class="btn btn-sm btn-primary m-2 px-2" href="{{ path('app_season_edit', {'id': season.id}) }}">Edit</a>
								</td>
							</tr>
						{% else %}
							<tr class="table-dark">
								<td colspan="5">no records found</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
		<div class="row mb-3">
			<div class="col">
				<a role="button" class="btn btn-sm btn-primary m-2 px-2" href="{{ path('app_season_new') }}">Ajouter Saison</a>
			</div>
		</div>
	</div>
{% endblock %}