{% extends 'visitor_layout.html.twig' %}
{% block title %}
	{{ parent() }}
	| Saison
	{{ season.id }}
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="d-flex flex-column justify-content-center mx-sm-2 m-auto my-sm-2">
			<div class="row mt-5 px-sm-5">
				<div class="col-xl-12 text-white bg-primary-light">
					<div class="p-4 d-flex flex-column justify-content-start">
						<h1 class="fs-2 px-2 text-white">{{ program.title }}</h1>
						<hr>
					</div>
					<div class="p-4">
						<div class="py-4 d-flex justify-content-between">
							<h3 class="px-4 fs-4 text-light fw-bold">{{ episode.title }}</h3>
							<h2 class="px-4 fs-5 text-dark">{{ 'Épisode n° ' ~ episode.number }}</h2>
						</div>
						<p class="px-4">{{ episode.synopsis }}</p>
					</div>
				</div>
			</div>

			<div class="row px-sm-5">
				<div class="border-end p-0">
					<div class="d-flex justify-content-between text-white bg-dark p-4 border-top">
						<a class="px-3 py-2 text-decoration-none" href="{{ path("app_category_show", { 'categoryName': program.category.name }) }}">
							<span class="badge text-bg-light">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-tag" viewbox="0 0 16 16">
									<path d="M6 4.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm-1 0a.5.5 0 1 0-1 0 .5.5 0 0 0 1 0z"/>
									<path d="M2 1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 1 6.586V2a1 1 0 0 1 1-1zm0 5.586 7 7L13.586 9l-7-7H2v4.586z"/>
								</svg>
								{{ program.category.name }}
							</span>
						</a>
					</div>
				</div>
			</div>
			<div class="row px-sm-5">
				<div class="border-end p-0">
					<div class="d-flex align-items-center justify-content-between bg-primary p-4 border border-dark bg-secondart">
						<div>
							{% if app.user %}
								<a role="button" class="btn btn-secondary btn-outline-light" href="{{ path('app_comment_new', {'episode': episode.id, 'user' : app.user.id }) }}">
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-dotted" viewbox="0 0 16 16">
										<path d="M8 0c-.176 0-.35.006-.523.017l.064.998a7.117 7.117 0 0 1 .918 0l.064-.998A8.113 8.113 0 0 0 8 0zM6.44.152c-.346.069-.684.16-1.012.27l.321.948c.287-.098.582-.177.884-.237L6.44.153zm4.132.271a7.946 7.946 0 0 0-1.011-.27l-.194.98c.302.06.597.14.884.237l.321-.947zm1.873.925a8 8 0 0 0-.906-.524l-.443.896c.275.136.54.29.793.459l.556-.831zM4.46.824c-.314.155-.616.33-.905.524l.556.83a7.07 7.07 0 0 1 .793-.458L4.46.824zM2.725 1.985c-.262.23-.51.478-.74.74l.752.66c.202-.23.418-.446.648-.648l-.66-.752zm11.29.74a8.058 8.058 0 0 0-.74-.74l-.66.752c.23.202.447.418.648.648l.752-.66zm1.161 1.735a7.98 7.98 0 0 0-.524-.905l-.83.556c.169.253.322.518.458.793l.896-.443zM1.348 3.555c-.194.289-.37.591-.524.906l.896.443c.136-.275.29-.54.459-.793l-.831-.556zM.423 5.428a7.945 7.945 0 0 0-.27 1.011l.98.194c.06-.302.14-.597.237-.884l-.947-.321zM15.848 6.44a7.943 7.943 0 0 0-.27-1.012l-.948.321c.098.287.177.582.237.884l.98-.194zM.017 7.477a8.113 8.113 0 0 0 0 1.046l.998-.064a7.117 7.117 0 0 1 0-.918l-.998-.064zM16 8a8.1 8.1 0 0 0-.017-.523l-.998.064a7.11 7.11 0 0 1 0 .918l.998.064A8.1 8.1 0 0 0 16 8zM.152 9.56c.069.346.16.684.27 1.012l.948-.321a6.944 6.944 0 0 1-.237-.884l-.98.194zm15.425 1.012c.112-.328.202-.666.27-1.011l-.98-.194c-.06.302-.14.597-.237.884l.947.321zM.824 11.54a8 8 0 0 0 .524.905l.83-.556a6.999 6.999 0 0 1-.458-.793l-.896.443zm13.828.905c.194-.289.37-.591.524-.906l-.896-.443c-.136.275-.29.54-.459.793l.831.556zm-12.667.83c.23.262.478.51.74.74l.66-.752a7.047 7.047 0 0 1-.648-.648l-.752.66zm11.29.74c.262-.23.51-.478.74-.74l-.752-.66c-.201.23-.418.447-.648.648l.66.752zm-1.735 1.161c.314-.155.616-.33.905-.524l-.556-.83a7.07 7.07 0 0 1-.793.458l.443.896zm-7.985-.524c.289.194.591.37.906.524l.443-.896a6.998 6.998 0 0 1-.793-.459l-.556.831zm1.873.925c.328.112.666.202 1.011.27l.194-.98a6.953 6.953 0 0 1-.884-.237l-.321.947zm4.132.271a7.944 7.944 0 0 0 1.012-.27l-.321-.948a6.954 6.954 0 0 1-.884.237l.194.98zm-2.083.135a8.1 8.1 0 0 0 1.046 0l-.064-.998a7.11 7.11 0 0 1-.918 0l-.064.998zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
									</svg>
									commentaire</a>
							{% endif %}
						</div>
						<div>
							{# <a class="btn btn-outline-secondary text-dark fw-bold" href="{{ path('app_program_index') }}">Retour</a> #}
							<a class="bottom text-white fw-bold" href="{{ path('app_program_index') }}">Retour</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row gx-5 px-sm-5">
			{% for comment in episode.comments|sort|reverse %}
				<div class="col-sm-6 col-md-4 gy-2 gap-2">
					<div class="card comment border border-2 rounded-4 ">
						<div class="card-body">
							<span class="badge rounded-pill text-bg-primary mb-2">{{ comment.id }}</span>
							<h5 class="card-title">{{ comment.author.email}}</h5>
							<p class="card-text max-height-20">{{ comment.comment }}.</p>
							<span class="badge rounded-pill text-bg-dark">Note :{{ comment.rate }}</span>
						</div>
						<div class="card-footer d-flex align-items-center justify-content-end">
							{% if is_granted("ROLE_ADMIN") or (is_granted("ROLE_CONTRIBUTOR") and app.user == comment.author) %}
								<a class="text-dark" href="{{ path('app_comment_edit', { 'id': comment.id} ) }}">
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewbox="0 0 16 16">
										<path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
									</svg>
									Éditer
								</a>
							{% endif %}
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}