{% extends 'base.html.twig' %}
{% block title %}
	{{ parent() }}
	| Série #{{ program.id }}
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="media">
			<img class="align-self-start mr-3" src="{{ program.getPoster() }}" alt="{{ program.getTitle() }} poster">
			<div class="media-body">
				<h1 class="mt-0">{{ program.getTitle() }}</h1>
				<p>{{ program.getSynopsis() }}</p>
				<p>Catégorie :
					{{ program.category.getName() }}</p>
			</div>
		</div>
		<a href="{{ path('program_index') }}">
			Retour à la liste des programmes
		</a>
	</div>
{% endblock %}