<!DOCTYPE html>
<html lang="fr" {{ stimulus_controller('mytheme') }} {{ stimulus_target('mytheme', 'theming') }}>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" href="{{ asset('build/images/favicon.ico') }}"/>
		<title>
			{% block title %}Wild-Séries
			{% endblock %}
		</title>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body {{ stimulus_controller('symfony/ux-swup/swup') }}>
		{% block navbar %}
			{# 	 #}
		{% endblock %}
		{% for category, messages in app.flashes %}
			{% for message in messages %}
				<div class="alert alert-{{ category }}">
					{{ message }}
				</div>
			{% endfor %}
		{% endfor %}
		<span id="swup">
			{% block body %}
				{# 	 #}
			{% endblock %}
		</span>
		{% block footer %}
			{# {% include 'components/_footer.html.twig' %} #}
		{% endblock %}
	</body>
</html></body></html>