<nav class="navbar navbar-expand-lg navbar-dark bg-primary py-4 fs-3">
	<div class="container-fluid">
		<img class="img-fluid mx-4" src="{{ asset('build/images/logo.png') }}" alt="logo" width="50">
		<a class="navbar-brand me-auto fw-bold text-white h1 fs-2 m-0" href="{{ path('app_index') }}">WILD SÉRIES</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse d-flex justify-content-between" id="navbarSupportedContent">
			<div class="navbar-nav px-4">
				<a class="nav-link" href="{{ path('app_index') }}">Home</a>
				<a class="nav-link" href="{{ path('app_program_index') }}">Séries</a>
				<a class="nav-link" href="{{ path('app_category_index') }}">Catégories</a>
			</div>
			<div class="fs-6 px-2 d-flex flex-column">
				{% if app.user %}
					<a class="btn btn-sm btn-outline-secondary border boder-light text-light text-decoration-none" href="{{ path('app_logout') }}">
						Se déconnecter
						<svg class="mx-2" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-box-arrow-right" viewbox="0 0 16 16">
							<path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
							<path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
						</svg>
					</a>
					<span class="text-bg-primary fw-lighter">
						{{ app.user.email }}
					</span>
				{% else %}
					<a role="button" class="btn btn-sm btn-outline-secondary border boder-light text-light text-decoration-none" href="{{ path('app_login') }}">
						<svg class="mx-2" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-person-lock" viewbox="0 0 16 16">
							<path d="M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm0 5.996V14H3s-1 0-1-1 1-4 6-4c.564 0 1.077.038 1.544.107a4.524 4.524 0 0 0-.803.918A10.46 10.46 0 0 0 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h5ZM9 13a1 1 0 0 1 1-1v-1a2 2 0 1 1 4 0v1a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-4a1 1 0 0 1-1-1v-2Zm3-3a1 1 0 0 0-1 1v1h2v-1a1 1 0 0 0-1-1Z"/>
						</svg>
						Se connecter
					</a>
				{% endif %}
			</div>
		</div>
	</div>
</nav>